<html ng-app="MyApp">

<head>
    <meta charset="utf-8">
    <title> Generater </title>
    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/index-controller.js"></script>
</head>

<body ng-controller="IndexController as ctrl">
    <!--/////////////////////////----------------------- ADD BUTTON -----------------------/////////////////////////-->
    <FORM>
        <H2>add button</H2>
        <BR/>
        <pre>{{fields | json}}</pre>

        <!-- SELECT FIELD TO ADD -->
        <select ng-model="fields.type">
            <option value="" disabled selected>type</option>
            <option value="button">Button</option>
            <option value="dropdown">Dropdown</option>
            <option value="text">Textbox</option>
            <option value="radio">Radio</option>
            <option value="checkbox">Checkbox</option>
        </select>

        <!-- ADD BUTTON -->
        <input type="button" value="Add +" ng-click="addfield(fields.type)" />

        <!-- SHOW FIELD -->
        <div ng-repeat="field in fields">
            <pre>{{field}}</pre>
            <!-- DROPDOWN FIELD -->
            <div ng-if="field.type == 'dropdown'">
                <!-- dropdown list -->
                <input type="text" ng-model="detail" name="" placeholder="Enter text here" />
                <!-- add dropdown list -->
                <input type="button" value="Add" ng-click="addDropdown($index,detail)" />
                <!-- create combobox for dropdown-->
                <br/> Combobox:
                <select ng-model="detail_drop" ng-options="idx as detail_drop.item for (idx,detail_drop) in field.dropdown_list">
                    <option value=""> -- select -- </option>
                </select>
                <!-- remove selected dropdown list -->
                <button ng-click="removeDropdown($index,detail_drop)">remove</button>
                <!-- remove dropdown field -->
                <button ng-click="removefield($index)">-</button>
            </div>

            <!-- TEXTBOX AND RADIOBUTTON AND CHECKBOX-->
            <div ng-if="field.type== 'radio' || field.type=='checkbox'">
                <input type="text" ng-model="detail" name="" placeholder="Enter text here" />
                <!-- add radiobutton list -->
                <input type="button" value="Add" ng-click="addDropdown($index,detail)" />
                <!-- create radiobutton list -->
                <br/><pre>{{detail}}</pre>
                <label ng-repeat="info in field.dropdown_list">
                    <input type="{{field.type}}" name="list" ng-model="detail_drop"/>{{info.item}} &nbsp;
                </label>
                <!-- remove selected radiobutton list (not done) -->
                <button ng-click="removeDropdown($index,detail_drop)">remove</button>
                <!-- remove radio field -->
                <button class="remove" ng-click="removefield($index)">-</button>
            </div>

        </div>
    </FORM>
</body>

</html>
