<html ng-app="MyApp">

<head>
    <meta charset="utf-8">
    <title> Generater </title>
    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/index-controller.js"></script>
</head>

<body ng-controller="IndexController as ctrl">
    <form name="Myform">
        <H2>add button</H2>
        <BR/>
        <pre>{{fields | json}}</pre>

        <!-- SELECT FIELD LIST TO ADD -->
        <select ng-model="fields.type">
            <option value="" disabled selected>type</option>
            <option value="button">Button</option>
            <option value="dropdown">Dropdown</option>
            <option value="text">Textbox</option>
            <option value="radio">Radio</option>
            <option value="checkbox">Checkbox</option>
        </select>
        <!-- ADD FIELD -->
        <input type="button" value="Add +" ng-click="addfield(fields.type)" ng-disabled="fields.type===''||fields.type == undefined" />

        <!-- SHOW FIELD -->
        <div ng-repeat="field in fields">
            <pre>{{field}}</pre>

            <!-- DROPDOWN FIELD -->
            <div ng-if="field.type == 'dropdown'">
                <!-- Dropdown Label -->
                Label:
                <input type="text" ng-model="detail_label" name="" placeholder="Enter text here" />
                <!-- Add dropdown Label -->
                <input type="button" value="Add Label" ng-click="addLabel($index,detail_label)" ng-disabled="detail_label===''||detail_label == undefined" />
                <!-- Dropdown List -->
                List Item:
                <input type="text" ng-model="detail_list" name="" placeholder="Enter text here" />
                <!-- Add Dropdown List -->
                <input type="button" value="Add List" ng-click="addDropdown($index,detail_list)" ng-disabled="detail_list===''||detail_list == undefined" />

                <!-- Create Dropdown Box-->
                <br/> {{field.label}}:
                <select ng-model="detail_drop" ng-options="idx as detail_drop.item for (idx,detail_drop) in field.dropdown_list">
                    <option value="" disabled selected>{{field.label}}</option>
                </select>

                <!-- Remove Selected Dropdown List -->
                <button ng-click="removeDropdown($index,detail_drop)" ng-disabled="detail_drop===''||detail_drop == undefined">remove</button>
                <!-- Remove Dropdown Field -->
                <button ng-click="removefield($index)">-</button>
            </div>

            <!-- TEXTBOX AND RADIOBUTTON AND CHECKBOX-->
            <div ng-if="field.type== 'radio' || field.type=='checkbox'">
                <input type="text" ng-model="detail" name="" placeholder="Enter text here" />
                <!-- add radiobutton list -->
                <input type="button" value="Add" ng-click="addDropdown($index,detail)" />
                <!-- create radiobutton list -->
                <br/><pre>{{detail}}</pre>
                <label ng-repeat="info in field.dropdown_list">
                    <input type="{{field.type}}" name="list" ng-model="detail_drop" />{{info.item}} &nbsp;
                </label>
                <!-- remove selected radiobutton list (not done) -->
                <button ng-click="removeDropdown($index,detail_drop)">remove</button>
                <!-- remove radio field -->
                <button class="remove" ng-click="removefield($index)">-</button>
            </div>

        </div>
    </form>
</body>

</html>
